name: Test
on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: ["ubuntu-24.04", "windows-2022", "macos-14"]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry
      - name: Install dependencies
        run: poetry install
      - name: Lint with black
        run: poetry run black --check .
      - name: Run tests
        run: poetry run pytest --cov=sigma --cov-report term --cov-report xml:cov.xml -vv
      - name: Store coverage for badge
        if: ${{ runner.os == 'Linux' }}
        run: poetry run python print-coverage.py >> $GITHUB_ENV
      - name: Create coverage badge
        if: ${{ github.repository == 'SigmaHQ/pySigma-validators-sigmaHQ' && github.event_name == 'push' && runner.os == 'Linux' }}
        uses: schneegans/dynamic-badges-action@v1.1.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: b27ee1cbe964fb1a299cc20c3403f8c8
          filename: pySigma-validators-sigmaHQ.json
          label: Coverage
          message: ${{ env.COVERAGE }}
          color: ${{ env.COVERAGE_COLOR }}
